{% comment %}

Metadata pour un cours - sous forme de Front Matter

{% endcomment %}
{% assign timeunit = "Semestre" %}
{% if page.timeunit %}
{% assign timeunit = page.timeunit %}
{% endif %}
<footer class="{% 
  if page.code %}code-{{ page.code }} {% endif %}{% 
  if page.type %}type-{{ page.type }} {% endif %}{% 
  if page.matiere %}matiere-{{ page.matiere }} {% endif 
  %}cours-meta">

  {% if page.code %}
  <section class="meta-section">
    {% assign acronymSubpage = site.pages | where: 'title', 'Acronymes' %}
    {% assign acronymArray = acronymSubpage[0].acronymes %}

    {% include acronymes.html acronymArray=acronymArray %}
  </section>
  {% endif %}

  {% if page.periodes %}
    {% if page.periodes != 0 %}
  <section class="meta-section profs-visible">
    <p>{{ page.periodes }} périodes</p>
  </section>
    {% endif %}
  {% else %}
  {% if page.competences %}
  <section class="meta-section">
    {% assign c_periodes = 0 %}
    {% for item in page.competences %}
    {% for key in item %}
    {% assign c_periodes = c_periodes | plus: key.last %}
    {% endfor %}
    {% endfor %}
    {{ c_periodes }}
    périodes<br />
  </section>
  {% endif %}
  {% endif %}

  {% if page.cursus %}
  <section class="meta-section">
    <h2>{{ timeunit }}</h2>
    <ul class="liste-horizontale">
      {% for item in page.cursus %}
      {% for key in item %}
      <li>{{ key.first }}
        :
        {{ key.last }}</li>
      {% endfor %}
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% if page.profs %}
  <section class="profs meta-section">
    <h2>Profs</h2>
    <ul class="liste-horizontale">
      {% for item in page.profs %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% if page.competences %}
  <section class="meta-section meta-competences profs-visible flex-box box-100">
    <h2>{{ site.objectifs | default: "Objectifs" }}</h2>

    {% assign compSubpage = site.pages | where: 'title', 'Objectifs' %}
    {% assign compArray = compSubpage[0].comp %}

    {% include meta-competences.html compArray=compArray %}
  </section>
  {% endif %}

</footer>