<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr" }}">
  <head>
    {% include header.html %}
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="{{ '/' | relative_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% include nav.html %}
    </header>

    <main class="main-content" id="content" role="main">
      {{ content }}
      
      {% assign compSubpage = site.pages | where: 'title', 'Objectifs' %}
      {% assign compArray = compSubpage[0].comp %}

      {% assign cours = site.pages | where: "layout", "cours" %}

      <table class="objectifs competences">

        {% for competence in compArray %}
          {% include table-item-comp-alt-1.html competence=competence cours=cours %}
        {% endfor %}

      </table>

      {% include footer.html %}
    </main>
  </body>
</html>
