<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include header.html %}
  </head>
  <body class="global">

    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="{{ '/' | relative_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% include nav.html %}
    </header>

    <main class="main-content global" id="content" role="main">
      {{ content }}

      {% if page contains "ordre" %}
        {% assign ordre = page.ordre %}
      {% else %}
        {% assign ordre = "title" %}
      {% endif %}

      {% assign cours = site.pages | where: "layout", "cours-alt-1" | sort: ordre %}
      {% comment %} Liste de tous les cours {% endcomment %}

      {% assign compSubpage = site.pages | where: 'title', 'Objectifs' %}
      {% assign compArray = compSubpage[0].comp %}

      {% if page contains "cursus" %}
        {% assign cursus = page.cursus %}
        {% comment %} Variable cursus, p.ex. FPC, Dual... {% endcomment %}
      {% endif %}

      {% if page contains "semestres" %}
        {% assign semestres = page.semestres | split: ',' %}
        <style>
          .vue-globale .section-cursus {
              flex: 0 1 {{ 100 | divided_by: semestres.size }}%;
          }
        </style>
      {% endif %}
      <div class="vue-globale">
        {% for semestre in semestres %}
          {% include cursus-loop.html compArray=compArray %}
          {% assign periodes_EP_total = periodes_EP_total | plus: periodes_EP %}
          {% assign periodes_AP_total = periodes_AP_total | plus: periodes_AP %}
        {% endfor %}
      </div>

        {% if periodes_EP_total > 0 %}
        <p>Total périodes EP:
          {{ periodes_EP_total }}</p>
        {% endif %}

        {% if periodes_AP_total  > 0 %}
        <p>Total périodes AP:
          {{ periodes_AP_total }}</p>
        {% endif %}
        

        {% include footer.html %}
    </main>
    </body>
  </body>
</html>
